.container.dashboard {
 width: 100%;
    padding: 4% 8%;
    background: #F4F4EE;
    .row {
        .col-sm-2 {
            text-align: center;
        }
        .col-sm-10 {
            >.row {
                padding: 0 5% 0 0;
            }
            .allprograms{
                th{
                    width:160px;
                    h3{
                        margin:0;
                        width:160px;
                    }
                }
            }
            .card {
                background: #fff;
                padding: 2% 5%;
                background-color: #fff;
                border-radius: 4px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
                position: relative;
                margin: 0 5px 30px;
                .DetailList{
                    transition: all 2s linear;
                }
                h5{
                    color:#b4b4aa;
                    font-size: 12px;
                }
                a.showHide{
                    color: #b4b4aa;
                    font-size: 11px;
                    text-decoration: none;
                }
            }
        }
        
    }
    .salesLabel{
        background-color: #fbfbf6;
        padding: 1em 1em .5em;
        margin: 1em -1em;
        border-top: 1px solid #f5f5eb;
        border-bottom: 1px solid #f5f5eb;
        color:#b4b4aa;
        .totalSales{
            font-size: .65em;
            margin: 0;
            &.monthlySales{
                font-size: .75em;
            }
        }
    }
    table{
        tr{
            th,td{
                padding: 1% 2%;
                background: transparent;
                font-weight: normal;
                font-size: 10px;
                line-height: 1.5em;
                color: #b4b4aa;
                vertical-align: top;
                border: none;
                padding: 4px 8px;
            }
            td{
                color:#828272;
                border-bottom: 1px solid #F2F2ED; 
                div.linechart{
                    background: url(../../assets/images/line-chart.png) 0 0 no-repeat;
                    height: 20px;
                    &.chart_1750{
                        background-position: 0 -18px;
                    }
                    &.chart_560{
                        background-position: 0 -36px;
                    }
                    &.chart_475{
                        background-position: 0 -54px;
                    }
                    &.chart_445{
                        background-position: 0 -72px;
                    }
                    &.chart_230{
                        background-position: 0 -90px;
                    }
                    &.chart_520{
                        background-position: 0 -108px;
                    }
                }              
            }
        }
    }
}
a {
    text-decoration: none;
    &.new-program {
        display: inline-block;
        text-align: center;
        color: #555;
        margin: 0 0 2em;
        text-decoration: none;
        &::before {
            content: '+';
            color: #fff;
            background: #bbd79d;
            background: #bbd79d;
            background: -moz-linear-gradient(top, #bbd79d 0%, #9bc084 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bbd79d), color-stop(100%, #9bc084));
            background: -webkit-linear-gradient(top, #bbd79d 0%, #9bc084 100%);
            background: -o-linear-gradient(top, #bbd79d 0%, #9bc084 100%);
            background: -ms-linear-gradient(top, #bbd79d 0%, #9bc084 100%);
            background: linear-gradient(to bottom, #bbd79d 0%, #9bc084 100%);
            border-radius: 4px;
            border-top: 1px solid #dfffc2;
            box-shadow: 0 0 0px 1px #7e9e6c;
            display: block;
            text-align: center;
            font-size: 100px;
            font-weight: bold;
            line-height: 90px;
            margin: 0 0 5px;
            padding: .5rem 2rem 1rem;
        }
    }
}